#payment-form{
  margin: 30px 600px;
#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    button {

        background-color: #1dbf73;
        border-radius: 5px;
        border: 1px solid gray;
        padding: 10px;
        color: white;
      }
}

}
